{% extends "base.html" %}

{% block title %}
Войти
{% endblock title %}

{% block content %}
{% if not user.is_authenticated %}
    <div class="col-sm-9">
        <h3>Войти</h3>
            {% if error_message %}<p><strong>
                <font color="#FF0000">{{ error_message }}</font></strong></p>
            {% endif %}
        <form action="{% url 'login_me' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Логин" name="usernameField"
                   value="{% if form.data %}
                          {{form.usernameField.data}}
                          {% endif %}">
            </div><p>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Пароль" name="passwordField" value="">
            </div><p>

            <div class="input-group">
                <button type="submit" class="btn">Войти</button>
            </div><p>
        </form>
        <h4><a href="{% url 'signup' %}">Создать страницу</a></h4>
    </div>
{% endif %}
{% endblock %}